:root{
    --cor-fundo: #4abd59;
    --cor-principal: #d7d9db;
    --cor-secundaria: #447daf;
    --cor-destaque: #447daf;
    --cor-texto:#3c2dc5;
}

body{
background-color:var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}

.caixa-principal{
background-color:var(--cor-principal);
width: 90%;
text-align: center;
padding: 20px;
}

h1{
color:var(--cor-destaque)


}